body {

  background-color: skyblue;
  
}

.jumbotron {
  background-size: cover;
  box-shadow: 2px black;
  

}
h1 {
  text-shadow: 1px 1px black;}


p{
  font-family: 'Questrial', sans-serif;   
  text-align: center;
  margin-top: 15px;
  color: royalblue;
  font-weight: bolder;
  size: 40px;
 
  
}

.lead {

  text-shadow: 2px 2px black;
  color: white;
  

}

.plannerDiv{  
  
  border-radius: 25px;
  box-shadow: 2px black;
}

.fas{

  padding-left: 5px;
}

.fas:hover{
  
  color:darkblue;
  
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.fasclick{

  color: darkblue;
}

  




#text9AM {

  border-radius: 50px;
  border-color: royalblue;
  
  

} 

#text10AM {

  border-radius: 50px;
  border-color: royalblue;
} 
#text11AM {

  border-radius: 50px;
  border-color: royalblue;
} 
#text12AM {

  border-radius: 50px;
  border-color: royalblue;
} 
#text1PM {

  border-radius: 50px;
  border-color: royalblue;
} 
#text2PM {

  border-radius: 50px;
  border-color: royalblue;
} 
#text3PM {

  border-radius: 50px;
  border-color: royalblue;
} 
#text4PM {

  border-radius: 50px;
  border-color: royalblue;
} 
#text5PM {

  border-radius: 50px;
  border-color: royalblue;
} 



.headerDiv {
background-image: url("kohSamuiBeach.jpg");
color: white;
font-family: 'Questrial', sans-serif;   

}

textarea p {
-webkit-box-shadow: inset 2px 2px 2px 0px #dddddd;
-moz-box-shadow: inset 2px 2px 2px 0px #dddddd;
box-shadow: inset 2px 2px 2px 0px #dddddd;


}

.past {
  background-color: lightgray;
}

.present {
  background-color: rgba(216, 86, 86, 0.856);
}

.future {

  background-color: lightgreen;
}


